    ---CSS---

    /* footer */

    .logo {
      cursor: pointer;
      transition: 0.2s;
      transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 2s ease;
      transform: scale(1);
    background: linear-gradient(to bottom right, 105, 165, 214, 105, 165, 214);
  }
  .logo:hover {
     transform: scale(1.9) translateZ(20px);
   }

/* Alerta */


h1 {

  font-size: 80px;
}

.welcome-heading {
  font-size: 3rem; /* Ajusta este valor para cambiar el tamaño del título */
}
.welcome-text {
  font-size: 1.25rem; /* Ajusta este valor para cambiar el tamaño del texto */
}
.welcome-section {
  padding: 2rem;
  background-color: #f8f9fa; /* Color de fondo similar al de la imagen */
}


/* Footer */


.logo {
  cursor: pointer;
  transition: 0.2s;
 transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 2s ease;
 transform: scale(1);
 background: linear-gradient(to bottom right, 105, 165, 214, 105, 165, 214);
}
.logo:hover {
 transform: scale(1.9) translateZ(20px);
}
.footer {

  color:#f8f9fa;

}

.footer a {

  text-decoration: none; 
}


/* cards */

